<html>
    <head>
        <script src="components/gsap/src/minified/TweenMax.min.js"></script>
        <script src="components/jquery/dist/jquery.min.js"></script>
        <link href="css/CommentatorScreen.css" rel="stylesheet"/>
        <script src="CommentatorScreen.js"></script>
    </head>
    <body>
        <div id="window-container">
            <div id="commentator-one-container">
                <div id="commentator-one-name">
                    <div id="commentator-one-name-text"></div>
                </div>
                <div id="commentator-one-twitter">
                    <div id="commentator-one-twitter-text"></div>
                </div>
            </div>
            <div id="commentator-two-container">
                <div id="commentator-two-name">
                    <div id="commentator-two-name-text"></div>
                </div>
                <div id="commentator-two-twitter">
                    <div id="commentator-two-twitter-text"></div>
                </div>
            </div>
        </div>
    </body>
</html>
