<html>
<head>
    <link href="img/flags.css" rel="stylesheet"/>
    <link href="css/MatchScreen.css" rel="stylesheet"/>
    <script src="components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="MatchScreen.js"></script>
</head>
<body>
    <div id="window-container">
        <div class="playerOneCogwheel"><img src="img/CogWheel.png" class="playerOneCogwheelImage"/> </div>
        <div class="playerTwoCogwheel"><img src="img/CogWheel.png" class="playerTwoCogwheelImage"/> </div>
        <div id="player1">
            <div class="playercontainer">
                <div id="p1flag" class="flag flag-xx"></div>
                <div id="p1tag" class="tag"></div>
            </div>
            <div id="p1score" class="score"></div>
        </div>
        <div id="player2">
            <div id="p2score" class="score"></div>
            <div class="playercontainer">
                <div id="p2tag" class="tag"></div>
                <div id="p2flag" class="flag flag-xx"></div>
            </div>
        </div>
        <div id="winsPicture"></div><div id="losesPicture"></div>
        <div class="XrdLogo"></div>
    </div>
</body>
</html>
